.auth-form {
    width: 50vw;
    height: 100vh;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.auth-form__subtitle {
    color: rgb(180, 184, 193);
}

.auth-form__form {
    max-width: 360px;
}